$hover-color: red;

$body-color: #333;

$body-font: 'Roboto', sans-serif;

$body-size: 0.85rem;

$body-weight: 400;

$logo-color: red;

$logo-font: 'Metal Mania', cursive;

$logo-size: 3rem;

$tagline-color: grey;

$main-section-heading-font: 'Playfair Display', serif;

$main-section-heading-size: 1.5rem;

$blogpost-date-font: 'Montserrat', sans-serif;

$blogpost-date-size: 0.6rem;
